<div class="side-head">
  <div class="name">
    <a href="#">Ozuy</a>
  </div>
  <div class="make-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-main">
  <div class="room-lists">
    <div class="room-list">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="room-lists">
    <div class="room-list">
      <a href="#">chatroom1</a>
    </div>
  </div>
</div>