<div class="side-head">
  <div class="name">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="make-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side-main">
  <div class="room-lists">
    <% current_user.rooms.each do |room| %>
      <div class="room-list">
        <a href="#"><%= room.name %></a>
      </div>
    <% end %>
  </div>
</div>